[Unit]
Description=MollySocket
After=network-online.target

[Service]
Type=simple
Environment="RUST_LOG=info"
Environment="ROCKET_PORT=8020"
Environment="MOLLY_CONF=/opt/mollysocket/prod.toml"
WorkingDirectory=/opt/mollysocket/

User=mollysocket
Group=mollysocket
UMask=0007

ExecStart=/opt/mollysocket/ms server
KillSignal=SIGINT

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
