# Caddy pass the request `Host` header by default
https://molly.domain.tld {
	reverse_proxy h2c://127.0.0.1:8020
}

# # If you need to set on another path
# https://www.domain.tld {
#   handle_path /molly/* {
# 	  reverse_proxy h2c://127.0.0.1:8020 {
# 		header_up X-Original-URL "/molly/"
# 	  }
#   }
# }
